@media(max-width: 1165px) {
    .header h6 a{
        padding: 5px 10px;
    }
    .bg-img{
        width: 1100px;
        background-position: right;
    }
    .body-img ul li img{
        width: 200px;
        padding: 0px 5px;
      }
}
@media(max-width: 820px) {
    .header h6 a{
        padding: 10px 20px;
    }
    .bg-img{
        width: 820px;
        background-position: right;
    }
    .body-img ul li img{
        width: 180px;
        padding: 0px 5px;
        margin-top: 20px;
      }
      .bg-img h1{
        font-size: 40px;
        
      }
}
@media (max-width:575px){
    .home-r ul li a{
        margin-top: 5px;
        padding: 0px 15px;
        margin-left: 2px;
        font-size: 20px;
        
    }
    .home-r ul{
        text-align: center;
    }
    .home-r ul li ul{
        top: 200%;
    }
    .home-r li:nth-child(3) ul{
    top: 100%;
   }
}
@media (max-width:970px) {
    .c{

        margin-bottom: 100px;
        margin-left: -50px;
      }
      .body-img ul li img{
        width: 150px;
        padding: 0px 5px;
      }
      .body-img ul li ul{
        left: 5;
      }
      .body-img ul li ul li i{
        font-size: 15px;
        padding: 5px 5px;
      }
}